* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contenedor {
  width: 100%;
  height: 100vh;
  background: #CE3691;
  background: -moz-linear-gradient(izquierda, #CE3691 0%, #BA42CE 47%, #142FC5 100%);
  background: -webkit-linear-gradient(izquierda, #CE3691 0%, #BA42CE 47%, #142FC5 100%);
  background: linear-gradient(to right, #CE3691 0%, #BA42CE 47%, #142FC5 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart{
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart h1, input, a{
  margin: 25px;
}
.cart input{
  justify-content: left;
  outline: none;
  border: 0;
  border-bottom: 1px solid gray;
  color: gray;
  background-color: #fff;
  margin: 25px 0 25px 40px;
  padding: 5px 2px;
  width: 200px;
}
.cart a{
  display: inline-block;
  width: 80%;
  margin: 25px auto 35px auto;
  height: 35px;
  background: #CE3691;
  background: -moz-linear-gradient(izquierda, #CE3691 0%, #BA42CE 47%, #142FC5 100%);
  background: -webkit-linear-gradient(izquierda, #CE3691 0%, #BA42CE 47%, #142FC5 100%);
  background: linear-gradient(to right, #CE3691 0%, #BA42CE 47%, #142FC5 100%);
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 7px 0;
}